@CHARSET "UTF-8";
.LV_validation_message{
    font-weight:bold;
   
}

.LV_valid {
    width: 24px;
  	height: 24px;
  	background: url(valid.png) center center no-repeat;
  	display: inline-block;
  	text-indent: -9999px;
}
	
	
.LV_invalid {
    font-weight: bold;
  	color: red;
  	padding: 2px 8px;
  	margin-top: 2px;
   
}

    
.LV_valid_field,
input.LV_valid_field:hover, 
input.LV_valid_field:active,
textarea.LV_valid_field:hover, 
textarea.LV_valid_field:active {
    border: 1px solid #00CC00;
}
    
.LV_invalid_field, 
input.LV_invalid_field:hover, 
input.LV_invalid_field:active,
textarea.LV_invalid_field:hover, 
textarea.LV_invalid_field:active {
    border: 1px solid #CC0000;
}